[submodule "EE 367 (Computer Data Struct & Algrthm) [C]"]
	path = EE 367 (Computer Data Struct & Algrthm) [C]
	url = https://github.com/frendylio/EE367
[submodule "EE 362 (Discrete Math for Engineers) [C & Python]"]
	path = EE 362 (Discrete Math for Engineers) [C & Python]
	url = https://github.com/frendylio/EE362
[submodule "EE 361 (Digital Sys & Computer Design) [C, SystemVerilog and Legv8]"]
	path = EE 361 (Digital Sys & Computer Design) [C, SystemVerilog and Legv8]
	url = https://github.com/frendylio/EE361
[submodule "ICS 314 (Software Engineering I) [JS, HTML, CSS, REACT]"]
	path = ICS 314 (Software Engineering I) [JS, HTML, CSS, REACT]
	url = https://github.com/frendylio/ICS314
